<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-videoteca"
        version="3.0.0">

    <name>cordova-plugin-videoteca</name>

    <description>
        Plugin adiciona funcionalidade dos vídeos da Videoteca no seu app Cordova/Ionic/Phonegap
    </description>

    <author>Eduardo Kraus</author>
    <repo>https://github.com/videofront/cordova-plugin-videoteca</repo>
    <issue>https://github.com/videofront/cordova-plugin-videoteca/issues</issue>

    <dependency id="cordova-plugin-file" />
    <dependency id="cordova-plugin-file-transfer" url="https://github.com/apache/cordova-plugin-file-transfer" />
    <dependency id="cordova-plugin-dialogs" />
    <dependency id="cordova-plugin-statusbar" />
    <dependency id="cordova-plugin-media" />

    <js-module src="www/CordovaVideoteca.js" name="CordovaVideoteca">
        <clobbers target="CordovaVideoteca" />
    </js-module>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Videoteca">
                <param name="ios-package" value="Videoteca" />
            </feature>
        </config-file>

        <header-file src="src/ios/Videoteca.h" />
        <source-file src="src/ios/Videoteca.m" />
    </platform>

    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Videoteca">
                <param name="android-package" value="com.eduardokraus.videoteca.Videoteca" />
            </feature>
        </config-file>

        <config-file target="res/xml/config.xml" parent="/*">
            <preference name="KeepRunning" value="true" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.WAKE_LOCK" />
        </config-file>

        <source-file src="src/android/Videoteca.java" target-dir="src/com/eduardokraus/videoteca" />

    </platform>

</plugin>
